<div id="home">
  <h1>Accueil</h1>
  <p>Bonjour et Bienvenue chez votre agence "The Web-Agency", besoin d'aide pour vos projets webs? Bienvenue au club!
  </p></div>
  <div class="row">
    <div class="col">
      <a routerLink="/projects" class="btn btn-primary">
        Les Projets
      </a>
    </div>
    <div class="col">
      <a routerLink="/employees" class="btn btn-primary">
        Les Salariés
      </a>
    </div>
    <div class="col">
      <a routerLink="/customers" class="btn btn-primary">
        Les Clients
      </a>
    </div>
  </div>