#home{
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 1.2em;
}
.row {
    margin: auto;
    padding: 5%;
  }
.col{
    text-align: center;
    margin: auto;
  }
body{
    background-color: black;
}